﻿@model ProductForm
<h2>Ajouter un nouveau produit</h2>

<form asp-controller="Product"
      asp-action="Create"
      asp-antiforgery="true"
      method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-info">Envoyer</button>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}

