﻿@model IEnumerable<ProductViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Nom du produit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductViewModel p in Model)
        {
            <tr>
                <td><a asp-controller="Product" 
                       asp-action="Details" 
                       asp-route-id="@p.Id">@p.Name</a></td>
                <td>
                    <a asp-controller="Product"
                       asp-action="Delete"
                       asp-route-id="@p.Id"
                       class="btn btn-danger delete">Delete</a>
                    <button class="btn btn-info">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        // récupérer LES ELEMENTS grace à une classe
        const deleteButtons = document.getElementsByClassName('delete');
        // Boucle sur chacun des boutons
        for (let button of deleteButtons) {
            // ajoute un evenement sur chacun des boutons
            button.addEventListener('click', e => {
                // ouvre une boite de confirmation et retourne le résultat
                let reponse = confirm("Etes vous sur de vouloir supprimer cet élément ?");
                // si faux
                if (!reponse) {
                    // annule le comportement par défaut
                    e.preventDefault();
                }
            });
        }
    </script>
}

