﻿<nav>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Accueil</a></li>
        <li><a asp-action="Privacy" asp-controller="Home">Privacy</a></li>
        <li><a asp-action="Index" asp-controller="Product">Product</a></li>
    </ul>
</nav>