﻿body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 2px #eee;
}

#center {
    width:100%;
    flex:1;
    display: flex;
}

#center > nav {
    width: 300px;
    height:auto;
    border-right: 1px solid #eee;
}

#center > nav > ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

#center > nav > ul > li {
    width: 100%;
    border-bottom: 1px solid #eee;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#center > main {
    flex: auto;
    height: auto;
}

footer {
    width:100%;
    height:50px;
    border-top: 1px solid #eee;
}