﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core.Frigo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        My Frigo Application
        <vc:meteo></vc:meteo>
    </header>


    <div id="center">
        <partial name="Partials/_menu.cshtml" />
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2021 - BSTORM
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (ViewBag.Message != null)
    {
        @*<script>
            toastr['@ViewBag.Severity']('@ViewBag.Message');
        </script>*@
        if (ViewBag.Severity == "error")
        {
            <script>
                toastr.error('@ViewBag.Message');
            </script>
        }
        else if(ViewBag.severity == "success")
        {
            <script>
                toastr.success('@ViewBag.Message');
            </script>
        }
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
